/* #searchbutton {
	background-color: #ffc770;
	color: white;
	font-weight: 700;
	margin-left: 0;
} */
/* #inputsearch {
	font-weight: 700;
	width: 600px;
	margin-right: 0;
} */
/* #wholeform {
	padding-top: 15px;
	margin: 0 auto;
} */

#buttoncart {
	border-radius: 150px;
	margin-top: 5px;
	margin-right: 10px;
	padding-right: 10px;
}
#mainnavbar {
	background-color: #f2d9db;
}
#submitbuttononform {
	background-color: #dba859;
	color: white;
	font-weight: 700;
}
